/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* lo hice asi: https://docusaurus.io/docs/styling-layout */
  --ifm-color-primary: #0087e0;
  --ifm-color-primary-dark: #0079ca;
  --ifm-color-primary-darker: #0073be;
  --ifm-color-primary-darkest: #005e9d;
  --ifm-color-primary-light: #0094f6;
  --ifm-color-primary-lighter: #039bff;
  --ifm-color-primary-lightest: #24a8ff;
  --ifm-font-size-base: 125%;
  --ifm-code-font-size: 95%;
  --ifm-h1-font-size: 2rem;
  --ifm-h2-font-size: 1.5rem;
  --ifm-h3-font-size: 1.25rem;
  --ifm-h4-font-size: 1rem;
  --ifm-h5-font-size: 0.875rem;
  --ifm-h6-font-size: 0.85rem;
}

html[data-theme="dark"] {
  --ifm-background-color: #1e2125;
  --ifm-background-surface-color: #121212;
}

a :hover {
  filter: drop-shadow(0px 0px 0.5rem white) brightness(105%);
}

/*No funciono!*/
/* [data-theme="dark"] :root {
  --ifm-color-primary: #e2c102;
} */

.navbar {
  background: lightblue;
  background-image: url("../../static/img/header.png"); /*todo: optimizarla */
  /**Borde isquierdo, largo, borde derecho, color (red, green, blue, alpha)*/
  // filter: drop-shadow(1px 3px 1px rgba(0, 100, 100, 0.15)); // POR ALGUNA RAZON ROMPE LA NAVBAR
}

[data-theme="dark"] .navbar {
  filter: hue-rotate(200deg);
}
[data-theme="dark"] .footer {
  filter: hue-rotate(200deg);
}

 .docusaurus-highlight-code-line {
   background-color: rgb(72, 77, 91);
   display: block;
   margin: 0 calc(-1 * var(--ifm-pre-padding));
   padding: 0 var(--ifm-pre-padding);
  }

 .main-wrapper {
   /*background-color: aquamarine; */
   /*background-image: url("../../static/img/header.png");*/
   background-color: var(
     --ifm-background-surface-color
   ); /*Aka blanco y negro de acuerdo a normal / night mode*/
   background-size: cover;
   padding-top: 0px;
   margin-top: 0px;
   display: flex;
   flex-direction: column;
 }

 .container--fluid {
   background-color: var(
     --ifm-background-surface-color
   ); /*Aka blanco y negro de acuerdo a normal / night mode*/
   /* display: flex; */
   flex-grow: 1;
 }


 .referenceList{
   display:flex;
 }


.cloudyBackground {
  background-image: url("../../static/img/header.png");
}
[data-theme="dark"] .cloudyBackground {
  background-image: url("../../static/img/footer.png");
}

 .centeredInDiv {
   justify-content: center;
 }

 .flexDirCol {
   flex-direction: column;
 }

.featureImage {
  height: 150px;
  width: auto;
}

.featureImage_src-pages- {
  width: max-content;
}

img {
  max-width: none;
}

.footer {
  background: lightblue;
  background-image: url("../../static/img/footer.png"); /*todo: optimizarla */
  /**Borde isquierdo, largo, borde derecho, color (red, green, blue, alpha)*/
  filter: drop-shadow(1px 3px 1px rgba(0, 100, 100, 0.15));
  padding: calc(var(--ifm-spacing-vertical) * 0.5);
}
